# Binary location
terrainworks_build/bin/
# Version file
terrainworks_build/_version.py

# Fortran files
built_mods
*.mod
*.o
*.obj
*.log
*.aux.xml
venv

# linux dependency file
deps.mk

# Binaries
/MakeGrids
/MakeGrids.exe
/bldgrds
/bldgrds.exe
/build_derivs
/build_derivs.exe

# Python stuff
__pycache__
