[submodule "modules"]
    path = modules
    url = https://github.com/teal-waters/modules.git

[submodule "GridUtilities"]
    path = GridUtilities
    url = https://github.com/teal-waters/GridUtilities.git
